:root {
    --primary-color: #9DCDC0;
    --secondary-color: #D9F4C7;
    --accent1-color: #F4EF88;
    --accent2-color: #AC9969;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Rock Salt";
    font-weight: 400;
    color: rgb(9, 31, 73);
}

p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: black;
}
/* body */

.body {
    text-align: center;
}


/* header */
.header {   
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    background: #9DCDC0;   
}

/* logo header */
.logo-box {   
    margin: 5% 5% 5% 40%;
} 

nav ul.menu {
    list-style-type: none; /*elimina puntos de la lista */
    display: flex;
    justify-content: space-between; 
    background-color: #159489; 
    margin: 5rem 3rem 5rem 1rem;
}

nav {
    grid-column: 2 / 4; 
}

nav ul.menu li {
    padding: 1rem;
}

nav ul.menu li a {
    text-decoration: none; 
    color: white; 
    padding: 10px 20px;
}

nav ul.menu li a:hover {
    background-color: #224646; /* Color al pasar el ratón */
    border-radius: 5px; /* Bordes redondeados */
}

.hero {
    position: relative;
    width: 100%;   
}

.hero h1 {
    position: absolute;    
    left: 35%; 
}
.hero article{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    padding: 15px;
    background-color: rgba(245, 245, 220, 0.493) ;

}

.hero article img{ 
    width: 200px;
    height: auto;
    float: right;
}

.hero img {
    width: 100%;
    height: auto;
} 

/* HISTORY */

.history{
    background-color: #9DCDC0;
}

.history h2{
    text-align: center;
}

.historyflex{
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding-bottom: 15px;
}

/* ADVENTURE */

.adventureimg {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .adventureimg figure {
    flex: 1;
    text-align: center;
    margin: 0;
  }
  
  .adventureimg img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
  }
  
  .adventureimg figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #333;
  }

/* FOOTER */

footer{
    background-color: #9DCDC0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

footer p {
    margin-left: 35%;
    margin-top: 1.5rem;
}

.sociallinks a{
    text-decoration: none;
    padding: 1rem;
    margin-right: 1rem;
}

.sociallinks {
    padding: 0.8rem;
}