@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

/* primary-color = 9DCDC0
secondary-color = D9F4C7
accent1-color = F4EF88
accent2-color = AC9969 */

/* https://coolors.co/d9f4c7-f8fa90-f4ef88-ac9969-9dcdc0 */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
h2 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
}